/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
/storage/
.idea
.env.example
.editorconfig
.phpstorm.meta.php
_ide_helper.php
phpunit.xml
.styleci.yml
server.php
yarn.lock
artisan
package-lock.json
composer.lock
.gitattributes
/bootstrap/
_ide_helper_models.php
